.custom-menu {
  position: relative;
  top: 5.5rem;
  left: 5%;
  width: 26.667rem;
  height: 85%;
  background-color: #444;
  color: #fff;
  overflow: hidden;

  @mixin breakpoint tablet-port {
    float: left;
    width: 30%;
  }

  @mixin breakpoint tablet {
    width: 28%;
  }

  @mixin breakpoint phone {
    float: left;
    top: 8rem;
    left: 0;
    width: 28%;
    overflow: hidden;
  }

  &__tabs {
    position: relative;
    width: 100%;
    height: 4rem;
    font-size: 1.167rem;
    letter-spacing: -0.5px;
    line-height: 1.2;
    cursor: pointer;
    z-index: 4;

    li {
      position: relative;
      float: left;
      width: 50%;
      height: 100%;
      padding: 0.7rem 1.333rem;
      background-color: #333;

      &.active,
      &:hover {
        background-color: #222;

        &::before {
          @mixin pseudo 0, 0;

          bottom: -0.95rem;
          left: 0;
          right: 0;
          margin: auto;
          border-style: solid;
          border-width: 1rem 1rem 0;
          border-color: #222 transparent transparent;
        }
      }
    }
  }

  &__content {
    display: none;
    position: absolute;
    top: 4rem;
    left: 0;
    right: 0;
    width: 100%;
    margin: auto;
    padding: 1.56rem;
    padding-top: 2rem;

    @mixin breakpoint tablet-port {
      position: relative;
      width: 90%;
      height: calc(100% - 1.7rem);
      margin-top: 0;
      padding-top: 24px;
      padding-bottom: 24px;
      border: none;
      overflow: auto;
    }

    @mixin breakpoint tablet {
      width: calc(100% - 2.066rem);
    }

    @mixin breakpoint phone {
      position: relative;
      display: block;
      width: 90%;
      height: 0;
      margin-top: 0;
      border: none;
      overflow: auto;
    }

    &--mark {
      border-top: none;
    }

    &.active {
      display: block;

      @mixin breakpoint phone {
        height: calc(100% - 12.6rem);
      }
    }
  }

  &__head {
    @mixin breakpoint tablet-port {
      height: 3.4rem;
      background-color: #222;
      padding: 0.5rem 0.75rem;
      line-height: 1.2;
    }

    @mixin breakpoint phone {
      position: relative;
      height: 4.2rem;
      margin-bottom: 1rem;
      padding: 0.5rem 0.75rem;
      background-color: #222;
      font-size: 1.222rem;
      line-height: 1.2;
    }

    &::before {
      @mixin breakpoint phone {
        content: '';
        position: absolute;
        bottom: -0.7rem;
        left: 0;
        right: 0;
        width: 0;
        height: 0;
        margin: auto;
        border-style: solid;
        border-width: 0.825rem 0.825rem 0;
        border-color: #222 transparent transparent;
      }
    }
  }

  &__tap {
    display: none;

    @mixin breakpoint phone {
      display: block;
      margin-bottom: 0.5rem;
      text-align: center;
      font-size: 0.925rem;
    }

    &.is-hidden {
      @mixin breakpoint phone {
        display: none;
      }
    }
  }

  &__inner {
    margin-bottom: 1rem;

    &--border {
      border-top: 1px solid #888;
    }
  }

  &__section {
    padding: 0 0.7rem;
    margin-top: 0.5rem;

    &--border {
      border-bottom: 1px dotted #888;
    }
  }

  &__title {
    margin-top: 0.25rem;
    margin-bottom: 1.25rem;
    font-size: 1.167rem;
    padding: 0.25rem 1rem;
    border-top: 1px solid #888;
    border-bottom: 1px solid #888;

    @mixin breakpoint tablet {
      padding: 0.25rem 0.7rem;
    }

    @mixin breakpoint tablet-port {
      padding: 0 0.5rem;
    }

    @mixin breakpoint phone {
      padding: 0 0.5rem;
      font-size: 1rem;
    }
  }

  &__tab {
    display: none;

    &.active {
      display: block;
    }
  }
}

.colour-name {
  margin-bottom: 0.125rem;
  font-size: 0.917rem;
}

.custom-display {
  top: center;
  top: 46.2%;
  left: 0;
  right: 0;
  width: 26rem;
  margin: auto;
  text-align: center;

  @mixin breakpoint tablet {
    width: 33.6% !important;
  }

  @mixin breakpoint tablet-port {
    top: 35%;
    left: auto;
    right: 0;
    width: 65% !important;
    padding: 0 5%;
    padding-bottom: 13%;
    transform: none;
  }

  @mixin breakpoint phone {
    top: 29%;
    left: auto;
    right: 0;
    width: 72% !important;
    padding: 0 5%;
    padding-bottom: 13%;
    transform: none;
  }

  img {
    width: 100%;
  }

  svg {
    width: 72%;

    @mixin breakpoint tablet-port {
      width: 68%;
    }
  }
}

.custom-display-core {
  @mixin hide;
}

.custom-rotation {
  position: absolute;
  display: inline-block;
  bottom: 5rem;
  left: 0;
  right: 0;
  width: 13.333rem;
  height: 3.333rem;
  margin: auto;
  background-color: $colour-button;
  color: #fff;
  font-size: 1.25rem;
  text-align: center;
  line-height: 2.8;
  transition: all 0.3s ease-in-out-circ;
  z-index: 99;
  cursor: pointer;

  @mixin breakpoint tablet-port {
    bottom: 5rem;
  }

  @mixin breakpoint phone {
    bottom: 1rem;
  }

  &:hover {
    background-color: #fff;
    color: $colour-main;
  }
}

.read-more {
  position: absolute;
  bottom: 0.5rem;
  left: 0;
  right: 0;
  width: 90%;
  height: 1.667rem;
  margin: auto;
  background-color: #333;
  background-image: url($root/arrows/arrow-down.png);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;

  @mixin breakpoint tablet-port {
    display: none;
    bottom: -1px;
    background-color: #444;
    background-image: none;
  }

  @mixin breakpoint phone {
    display: none;
    bottom: -1px;
    background-color: #444;
    background-image: none;
  }

  &.hide {
    background-color: #393939;
    background-image: url($root/arrows/arrow-down_inactive.png);
  }

  &::before {
    @mixin breakpoint tablet-port {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 0;
      height: 0;
      margin: auto;
      border-style: solid;
      border-width: 6px 6px 0;
      border-color: #fff transparent transparent;
    }

    @mixin breakpoint phone {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 0;
      height: 0;
      margin: auto;
      border-style: solid;
      border-width: 6px 6px 0;
      border-color: #fff transparent transparent;
    }
  }
}

.svg-text {
  fill: #fff;
  transform: translateX(-0.333rem);
  font-size: 0.3333rem;
}

.notes {
  width: 100%;
  text-align: left;
  color: #fff;
}

.loader {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: #000;

  &__count {
    color: #fff;
    font-size: 10rem;
  }
}

.spinner {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  opacity: 0;
  z-index: 999;

  &__inner {
    border-radius: 50%;
    width: 12rem;
    height: 12rem;
    margin: 60px auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 1rem solid color($colour-red a(20%));
    border-right: 1rem solid color($colour-red a(20%));
    border-bottom: 1rem solid color($colour-red a(20%));
    border-left: 1rem solid $colour-red;
    transform: translateZ(0);
    animation: spinner 1.1s infinite linear;

    &::after {
      border-radius: 50%;
      width: 12rem;
      height: 12rem;
    }
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
