@media only screen and (max-width: 415px) {
  html {
    font-size: 10px;
  }

  .u-pc {
    display: none !important;
  }

  .u-sp {
    display: block !important;
  }

  .u-inner {
    width: 90%;
  }

  .custom-pick {
    &__title {
      padding: 0 0.5rem;
      font-size: 1rem;
    }

    &__colours {
      li {
        width: 100%;
        margin: 0;
        margin-bottom: 0.75rem;
      }
    }

    &__list {
      li {
        width: 48%;
        height: 45px;
        padding-top: 48%;
        overflow: hidden;
        &:nth-child(4n + 1) {
          margin-left: 2%;
        }
        &:nth-child(2n + 1) {
          margin-left: 0;
        }
      }
    }

    &__mark {
      li {
        float: none;
        width: 100%;
        margin: 0;
        margin-bottom: 4px;
        font-size: 8px;
      }
      a {
        padding: 0 0.5rem;
        line-height: 3;
      }
      .icon--tick {
        vertical-align: middle;
      }
    }

    &__fonts {
      li {
        position: relative;
        float: none;
        width: 100%;
        border: 1px solid #888;
        text-align: center;
        &:hover, &.active {
          border: 1px solid #fff;
        }
      }
      input {
        position: absolute;
        @mixin hide;
      }
      label {
        width: 100%;
      }
    }
  }

  .mark-check {
    &__head {
      font-size: 10px;
    }

    &__image {
      margin-top: 40px;
      margin-bottom: 16px;
      img {
        width: 50%;
      }
    }
  }
}

@media only screen and (max-width: 326px) {
  html {
    font-size: 9px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  html {
    font-size: 12px;
  }

  .u-inner {
    max-width: 980px;
    width: 95%;
  }

  .custom-pick {
    &__title {
      padding: 0.25rem 0.7rem;
    }

    &__colours {
      li {
        margin-bottom: 0.5rem;

        &:nth-child(6n) {
          margin-left: 0;
        }
      }
    }
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .u-tb {
    display: block !important;
  }
  html {
    font-size: 12px;
  }
  .u-inner {
    max-width: 980px;
    width: 95%;
  }
  .header-style {
    &__title {
      margin-right: 1rem;
    }
    &__list {
      li {
        padding: 0 0.6rem;
      }
    }
  }
  .content-navigation {
    li {
      width: calc(33.333% + .5rem);
      margin-left: -0.5rem;
    }
  }
  .menu-door {
    &__inner {
      height: 20%;
    }
    &__bg {
      height: 20%;
    }
  }
  .item-collection {
    &.is-col2 {
      width: 48%;
      min-height: 294px;
      &:nth-child(2n) {
        margin-left: 4%;
      }
      .item-list {
        li {
          width: calc(50% - 4px);
        }
        &__image {
          img {
            width: 80%;
          }
        }
      }
    }
    &__desc {
      min-height: 3.2rem;
    }
  }
  .item-list {
    li {
      width: calc(25% - 3.333px);
    }
  }
  .custom-menu {
    float: left;
    left: 5%;
    width: 30%;
    &__content {
      position: relative;
      width: 90%;
      height: calc(100% - 1.7rem);
      margin-top: 0;
      padding-top: 24px;
      padding-bottom: 24px;
      border: none;
      overflow: auto;
    }
    &__head {
      height: 3.4rem;
      background-color: #222;
      padding: 0.5rem 0.75rem;
      line-height: 1.2;
    }
  }
  .custom-pick {
    &__title {
      padding: 0 0.5rem;
    }
    &__colours {
      li {
        width: 100%;
        margin: 0;
        margin-bottom: 0.75rem;
      }
    }
    &__list {
      li {
        width: 48%;
        height: 45px;
        padding-top: 48%;
        overflow: hidden;
        &:nth-child(4n + 1) {
          margin-left: 2%;
        }
        &:nth-child(2n + 1) {
          margin-left: 0;
        }
      }
    }
    &__mark {
      li {
        float: none;
        width: 100%;
        margin: 0;
        margin-bottom: 4px;
        font-size: 8px;
      }
      a {
        padding: 0 0.5rem;
        font-size: 11px;
      }
      .icon--tick {
        vertical-align: middle;
      }
    }
    &__fonts {
      li {
        position: relative;
        float: none;
        width: 100%;
        border: 1px solid #888;
        text-align: center;
        &:hover, &.active {
          border: 1px solid #fff;
        }
      }
      input {
        position: absolute;
        @mixin hide;
      }
      label {
        width: 100%;
      }
    }
    &__input {
      padding: 0;
      input {
        width: 100%;
        &[type=submit] {
          width: 100%;
          margin-top: 4px;
        }
      }
    }
    &__colours {
      width: 100%;
      margin-left: 0;
    }
  }
  .colour-section {
    padding: 0 0.5rem;
  }
  .custom-info {
    position: relative;
    float: right;
    top: 5rem;
    right: 5%;
    width: 55%;
    /*right: 8rem;*/
    &__title {
      display: none;
    }
    &__type {
      margin-top: 0.25rem;
    }
    &__subtype {
      margin-bottom: 0;
    }
  }
  .custom-display {
    top: 35%;
    left: auto;
    right: 0;
    width: 65% !important;
    padding: 0 5%;
    padding-bottom: 13%;
    transform: none;
    /*top: 35%;
    right: 12%;
    height: 55%;
    padding-bottom: 18%;
    width: 47.6% !important;*/
    svg {
      width: 68%;
    }
  }
  .custom-rotation {
    bottom: 5rem;
  }
  .read-more {
    display: none;
    bottom: -1px;
    background-color: #444;
    background-image: none;
    &:before {
      @mixin pseudo 0, 0;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      border-style: solid;
      border-width: 6px 6px 0 6px;
      border-color: #fff transparent transparent transparent;

    }
  }

  .order-info {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 990;
    background-color: rgba(34,34,34,0.8);
    transform: translateY(100%);
    @mixin show;
  }

  .order-sheet {
    &__image {
      width: 15%;
      padding-top: 15%;
    }
    &__text {
      left: 18%;
      width: 85%;
    }
    &__title {
      font-size: 12px;
    }
  }
  .design-note {
    &__inner {
      display: block;
    }
  }
}

@media all and (-ms-high-contrast: none) {
  .custom-display-core svg {
    height: 25rem !important;
  }

  .footer {
    position: absolute;
    bottom: 0;
  }

  .post-template-default {
    overflow: hidden;
  }
}
