.button {
  display: inline-block;

  &--order-sheet {
    width: 30em;
    height: 3.6em;
    margin-top: 2em;
    background-color: #666;
    text-align: center;
    color: #fff;
    font-size: 1.167em;
    line-height: 3.5;
    transition: all 0.4s ease-in-out-circ;

    @mixin breakpoint phone {
      margin-top: 4em;
    }

    &:hover {
      color: #666;
      background-color: #fff;
    }
  }
}

.icon {
  display: inline-block;
  background-repeat: no-repeat;

  &--rotation {
    width: 1.667rem;
    height: 1.5rem;
    background-image: url($root/icons/icon-rotation.png);
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: sub;
    margin-right: 8px;
    transition: background 0.3s ease-in-out-circ;

    .custom-rotation:hover & {
      background-image: url($root/icons/icon-rotation_on.png);
    }
  }

  &--fina {
    margin-left: 2rem;
    line-height: 0;
    vertical-align: middle;

    img {
      height: 100%;
    }
  }

  &--line {
    width: 3.3333rem;
    height: 3.3333rem;
    margin: 0 1rem;
    background-image: url($root/icons/icon-line.png);
    background-size: 100%;
    background-position: center;
    transition: opacity 0.4s ease-in-out-circ;

    &:hover {
      opacity: 0.8;
    }
  }

  &--twitter {
    width: 3.3333rem;
    height: 3.3333rem;
    margin: 0 1rem;
    background-image: url($root/icons/icon-twitter.png);
    background-size: 100%;
    background-position: center;
    transition: opacity 0.4s ease-in-out-circ;

    &:hover {
      opacity: 0.8;
    }
  }

  &--facebook {
    width: 3.3333rem;
    height: 3.3333rem;
    margin: 0 1rem;
    background-image: url($root/icons/icon-facebook.png);
    background-size: 100%;
    background-position: center;
    transition: opacity 0.4s ease-in-out-circ;

    &:hover {
      opacity: 0.8;
    }
  }
}
