* {
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
}

html {
  font-size: responsive 8px 18px;
  font-range: 960px 1920px;
}

body {
  font-weight: 800;
  line-height: 1.6;
  font-family: $font-main;
  color: $colour-main;
  background-color: $colour-bg;
  overflow-x: hidden;
}

html,
button,
input,
select,
textarea {
  color: $colour-main;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: $colour-main;
  cursor: pointer;
}

audio,
canvas,
img,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.browsehappy {
  margin: 0.2em 0;
  padding: 0.2em 0;
  background: #ccc;
  color: #000;
}

.bg {
  position: fixed;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  top: 0;

  &--main {
    width: 110%;
    height: 110%;
    top: -5%;
    left: -5%;
  }

  &--business {
    position: absolute;
    top: 4%;
    left: 0;
    width: 22%;
    height: 100%;

    img {
      width: 100%;
    }
  }
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;

  &--dark {
    background: #000;
    opacity: 0.5;
  }

  &--white {
    background: #fff;
    opacity: 0.9;
  }

  &--single {
    width: 0;
    background-color: $green;
    z-index: 99;
  }

  &--pop {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: color(#000 a(70%));
  }

  &--contact {
    position: fixed;
    background-color: #fff;
    opacity: 0.9;
    transform: translateX(-100%);
    z-index: 20;
  }

  &--inactive {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 3;
  }
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: color(#000 a(80%));
  z-index: 99;
  transform: translateY(100%);

  @mixin breakpoint phone {
    z-index: 992;
  }

  &--order-sheet {
    color: #fff;
  }

  &--product-info {
    z-index: 999;
  }

  &--system-requirements {
    color: #fff;
  }

  &-inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 640px;
    height: 80%;
    margin: auto;
    background-color: #222;
    font-size: 12px;

    @mixin breakpoint phone {
      width: 100%;
      top: 4.3rem;
      bottom: auto;
      height: calc(100% - 4.3rem);
      font-size: 8px;
    }

    .popup--design-note & {
      width: 1040px;

      @mixin breakpoint phone {
        width: 100%;
      }
    }

    .docs-section {
      color: #fff;
      padding: 1em 2em;
    }
  }

  &-close {
    position: absolute;
    top: 1.25rem;
    right: 1.667rem;
    display: inline-block;
    width: 2.583rem;
    height: 3.583rem;
    background-image: url($root/icons/icon-close.png);
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;

    @mixin breakpoint phone {
      top: 0.8rem;
    }
  }
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 4px;
  transform: translateY(-112%);

  @mixin hide;

  &::before {
    @mixin pseudo 0, 0;

    bottom: -0.9rem;
    left: 0;
    right: 0;
    margin: auto;
    border-style: solid;
    border-width: 1rem 1rem 0;
    border-color: rgba(255, 255, 255, 0.8) transparent transparent transparent;
  }

  &--share {
    text-align: center;
    padding: 1.4rem 0;
    line-height: 1;
  }
}

:--heading {
  margin-top: 0;
  font-weight: 800;
  font-family: $font-main;
}

h1 {
  margin-bottom: 1.34em;

  img {
    width: 10%;
  }
}

@custom-selector :--heading h1, h2, h3, h4, h5, h6;
@custom-selector :--button button, .button;
@custom-selector :--enter :hover, :focus;
