.footer {
  position: relative;
  width: 100%;
  height: 24px;
  z-index: 99;
  background-color: #000;

  .simulation & {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  &__logo {
    text-align: right;
    padding-right: 2.667rem;
  }
}
