.container {
  position: relative;
  width: 100%;
  height: 100%;
}

.main {
  position: relative;

  &--home {
    background-color: #1a1a1a;
  }
}

.content {
  position: relative;
  width: 100%;
  height: 100%;

  &--simulation {
    background-size: cover;
    background-image: url($root/bg/bg-swimwear_customisation.jpg);

    &::before {
      @mixin pseudo 100%, 100%;
      top: 0;
      left: 0;
      background-image: url($root/bg/pattern1.png);
    }
  }
}

.section {
  &--top {
    width: 100%;
    height: 100%;
    margin-bottom: 5.2rem;
    padding-top: 4.3rem;
  }

  &--teamwear {
    margin-top: 100px;
  }

  &--custom {
    position: relative;
    padding-top: 4.3rem;
    padding-bottom: 24px;
    background-size: cover;
    overflow: auto;
  }
}

.menu-door {
  position: relative;
  float: left;
  width: 50%;
  height: 100%;
  color: #fff;
  background-size: cover;
  z-index: 2;

  &--swimwear {
    background-image: url($root/bg/bg-swimwear_big.jpg);
  }

  &--teamwear {
    background-image: url($root/bg/bg-teamwear_big.jpg);
  }

  &::before {
    @mixin pseudo 100%, 100%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url($root/bg/pattern1.png);
  }

  &__link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
  }
  &__inner {
    width: 90%;
    height: 30%;
    padding: 1.75rem;
    z-index: 2;

    .menu-door--swimwear & {
      right: 0;
    }
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 90%;
    height: 30%;
    margin: auto;
    background-color: #005eb8;
    mix-blend-mode: multiply;

    .menu-door--swimwear & {
      right: 0;
      left: auto;
    }
  }

  &__title {
    img {
      width: 70.8%;
    }
  }
}

.menu-door__inner:hover + .menu-door__bg {
  background-color: #000;
  mix-blend-mode: none;
}

.item-head {
  position: relative;
  padding: 3rem 0;
  color: #fff;
  background-size: cover;

  &:before {
    @mixin pseudo 100%, 100%;
    top: 0;
    left: 0;
    background-image: url($root/bg/pattern1.png);
  }

  &--swimwear {
    background-image: url($root/bg/bg-swimwear.png);
  }

  &--teamwear {
    background-image: url($root/bg/bg-teamwear.png);
  }

  &__title {
    position: relative;
    z-index: 2;

    img {
      width: 392px;
    }
  }

  &__desc {
    position: relative;
    margin-bottom: 0;
    z-index: 2;
  }
}

.item-inner {
  color: #fff;
  margin-top: 4rem;
}

.item-collection {
  &.is-col2 {
    float: left;
    width: 50%;
    margin-bottom: 42px;
  }

  &__title {
    font-size: 26px;
    margin-bottom: 0;
  }

  &__lubi {
    margin: 0;
    font-size: 9px;
    color: #85a4cb;
    line-height: 1;
  }
}

.item-list {
  margin-top: 24px;

  &--long {
    li {
      width: calc(50% - 4px);
      margin-bottom: 12px;

      &:nth-child(2n + 1) {
        margin-left: 0;
      }
    }
  }

  li {
    position: relative;
    float: left;
    width: 252px;
    height: 160px;
    margin-left: 4px;
    background-color: #666;
    text-align: center;
    transition: background 0.4s ease;

    &:first-child {
      margin-left: 0;
    }

    &:hover {
      background-color: #fff;
    }
  }

  &__link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
  }

  &__image {
    position: relative;
    width: 100%;
    height: 136px;
  }

  &__desc {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 24px;
    background-color: #252525;
    transition: all 0.4s ease;

    .item-list li:hover & {
      background-color: #ccc;
      color: #252525;
    }
  }
}

.print-item-list--multi-row {
  .print-item {
    margin: 0.5rem 0;

    img {
      width: 76.5%;
    }
  }
}

.print-item {
  display: inline-block;
  margin: 0 4px;
  transition: opacity 0.4s ease;

  img {
    width: 68.5%;
  }

  &:hover {
    opacity: 0.6;
  }
}

.product-info {
  width: 720px;
  height: 90%;
  color: #fff;
  padding: 1em;
  font-size: 14px;
  overflow: auto;

  strong {
    font-size: 18px;
  }

  p {
    margin-top: 0;
  }

  &__head {
    margin-bottom: 26px;
    padding-top: 40px;
  }

  &__tag {
    display: inline-block;
    margin-bottom: 8px;
    padding: 0 4px;
    font-size: 12px;
    border: 1px solid #fff;
  }

  &__detail {
    margin-bottom: 24px;
  }

  &__tile {
    float: right;
    margin-left: 20px;
    border: 7px solid #fff;
  }

  &__image {
    padding: 16px 0;
    background-color: #fff;
    text-align: center;

    &__image {
      img {
        max-width: 100%;
      }
    }
  }
}

#text-canvas {
  display: none;
}

.mark-check {
  padding: 1em;
  color: #fff;
  font-size: 14px;

  p {
    margin-top: 0;
  }

  &__head {
    font-size: 16px;
    font-weight: bold;
  }

  &__image {
    margin: 64px 0;
    text-align: center;

    img {
      background-color: #232b2e;
    }
  }

  &__desc {
    padding: 0 16px;
  }

  &__notes {
    margin-top: 24px;
    padding: 0 16px;
    padding-top: 24px;
    border-top: 1px dotted #999;

    strong {
      display: inline-block;
      margin-bottom: 12px;
    }
  }
}

.docs-section {
  color: #fff;
  padding: 1em 2em;
}
