.item-info {
  position: absolute;
  top: 10rem;
  right: 2.5%;
  width: 28rem;
  color: #fff;

  @mixin breakpoint tablet {
    width: 25rem;
  }

  @mixin breakpoint tablet-port {
    position: relative;
    float: right;
    top: 5rem;
    right: 5%;
    width: 55%;
  }

  @mixin breakpoint phone {
    position: relative;
    float: none;
    top: 0;
    right: 0;
    left: 0;
    max-width: 68%;
    min-width: 0;
    margin-top: 6rem;
    margin-right: 2%;
    margin-left: auto;
  }

  &__title {
    width: 16.333rem;

    @mixin breakpoint tablet-port {
      display: none;
    }

    @mixin breakpoint phone {
      display: none;
    }

    img {
      width: 100%;
    }
  }

  &__type {
    margin-bottom: 0;
    font-size: 1.333em;

    @mixin breakpoint tablet-port {
      margin-top: 0.25rem;
    }

    @mixin breakpoint phone {
      margin-top: 0.25rem;
    }
  }

  &__subtype {
    margin-top: 0;

    @mixin breakpoint tablet-port {
      margin-bottom: 0;
    }

    @mixin breakpoint phone {
      margin-bottom: 0;
    }
  }

  &__list {
    margin-bottom: 1.5rem;
    font-size: 0.917rem;
    border-top: 1px solid #fff;
  }

  &__item {
    border-bottom: 1px solid #fff;
    padding: 0.5rem 0;
  }

  &__link {
    display: inline-block;
    width: 15rem;
    height: 2.667rem;
    background-color: #222;
    color: #fff;
    text-align: center;
    line-height: 2.8;
    transition: all 0.4s ease-in-out-circ;

    @mixin breakpoint phone {
      position: relative;
      bottom: 0;
      left: 0;
      right: 0;
      width: 13.333rem;
      height: 4rem;
      margin: auto;
      padding: 0.4rem 0;
      font-size: 1.25rem;
      line-height: 1.4;

      /* height: 3.333rem; */
    }

    &.is-red {
      background-color: $colour-red;
    }

    &:hover {
      background-color: #fff;
      color: $colour-main;
    }
  }
}
