.bcolour {
  &__list {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% + 0.666rem);
    margin: auto;
    margin-left: -0.333rem;
    margin-bottom: 0.5rem;

    @mixin breakpoint phone {
      width: 100%;
      margin-left: 0;
    }

    li {
      width: 3.333rem;
      height: 1.333rem;
      margin: 0 0.3333rem 0.567rem;
      border: 2px solid #999;
      cursor: pointer;

      @mixin breakpoint tablet {
        margin-bottom: 0.5rem;
      }

      @mixin breakpoint phone {
        width: 100%;
        margin: 0;
        margin-bottom: 0.75rem;
      }

      &:hover,
      &.active {
        border: 2px solid #fff;
      }

      &.hide {
        display: none;
      }
    }
  }

  &__section {
    margin-top: 0.5rem;

    @mixin breakpoint tablet {
      padding: 0 0.7rem;
    }

    @mixin breakpoint phone {
      padding: 0 0.5rem;
    }
  }

  &__name {
    margin-bottom: 0.5rem;
  }
}
