.item-info {
  position: absolute;
  top: 10rem;
  right: 5.5%;
  min-width: 28rem;
  color: #fff;

  @mixin breakpoint phone {
    position: relative;
    float: left;
    top: 5rem;
    right: 0;
    left: 3.2rem;
    max-width: 22rem;
    min-width: 0;
  }

  &__title {
    width: 16.333rem;

    @mixin breakpoint phone {
      display: none;
    }

    img {
      width: 100%;
    }
  }

  &__type {
    margin-bottom: 0;
    font-size: 1.333em;

    @mixin breakpoint phone {
      margin-top: 0.25rem;
    }
  }

  &__subtype {
    margin-top: 0;

    @mixin breakpoint phone {
      margin-bottom: 0;
    }
  }

  &__list {
    margin-bottom: 1.5rem;
    font-size: 0.917rem;
    border-top: 1px solid #fff;
  }

  &__item {
    border-bottom: 1px solid #fff;
    padding: 0.5rem 0;
  }

  &__link {
    display: inline-block;
    width: 15rem;
    height: 2.667rem;
    background-color: #222;
    color: #fff;
    text-align: center;
    line-height: 2.8;
    transition: all 0.4s ease-in-out-circ;

    @mixin breakpoint phone {
      position: absolute;
      bottom: -3rem;
      left: 0;
      right: 0;
      width: 13.333rem;
      height: 3.333rem;
      margin: auto;
      font-size: 1.25rem;
    }

    &.is-red {
      background-color: $colour-red;
    }

    &:hover {
      background-color: #fff;
      color: $colour-main;
    }
  }
}
