.mark-text {
  input {
    @mixin breakpoint tablet-port {
      width: 100%;
    }
  }

  input[type="text"] {
    height: calc(2.5rem - 2px);
    padding: 0 0.5rem;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    transition: all 0.3s ease-in-out-circ;

    @mixin breakpoint phone {
      width: 100%;
    }

    &:active,
    &:focus {
      border: 2px solid $colour-red;
      outline: none;
      background-color: #fff;
      color: $colour-main;
    }
  }

  input[type="submit"] {
    width: 9.167rem;
    height: 2.5rem;
    background-color: $colour-button;
    color: #fff;
    border: none;
    transition: all 0.3s ease-in-out-circ;

    @mixin breakpoint tablet-port {
      width: 100%;
      margin-top: 4px;
    }

    @mixin breakpoint tablet {
      width: 8.567rem;
    }

    @mixin breakpoint phone {
      width: 100%;
      margin-top: 4px;
    }

    &:hover {
      background-color: #fff;
      color: $colour-main;
    }
  }

  input.disabled {
    ime-mode: disabled;
  }

  &__form {
    padding: 0 1rem;
    font-size: 0.917rem;

    @mixin breakpoint tablet-port {
      padding: 0;
    }

    @mixin breakpoint tablet {
      padding: 0 0.7rem;
    }

    @mixin breakpoint phone {
      padding: 0;
    }
  }
}
