.mark-colour {
  &__list {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% + 1.114rem);
    margin: auto;
    margin-left: -0.567rem;
    margin-bottom: 0.5rem;

    li {
      width: 3.333rem;
      height: 1.333rem;
      margin-bottom:  0.567rem;
      margin-left: 0.567rem;
      border: 1px solid #999;
      cursor: pointer;

      &:hover,
      &.active {
        border: 1px solid #fff;
      }

      &.hide {
        display: none;
      }
    }
  }
}
