.mark-colour {
  &__list {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% + 1.114rem);
    margin: auto;
    margin-left: -0.567rem;
    margin-bottom: 0.5rem;

    @mixin breakpoint tablet-port {
      width: 100%;
      margin-left: 0;
    }

    @mixin breakpoint phone {
      width: 100%;
      margin-left: 0;
    }

    li {
      width: 3.333rem;
      height: 1.333rem;
      margin-bottom: 0.567rem;
      margin-left: 0.567rem;
      border: 1px solid #999;
      cursor: pointer;

      @mixin breakpoint tablet {
        margin-bottom: 0.5rem;
      }

      @mixin breakpoint tablet-port {
        width: 100%;
        margin: 0;
        margin-bottom: 0.75rem;
      }

      @mixin breakpoint phone {
        width: 100%;
        margin: 0;
        margin-bottom: 0.75rem;
      }

      &:hover,
      &.active {
        border: 1px solid #fff;
      }

      &.hide {
        display: none;
      }
    }
  }

  &__section {
    margin-top: 0.5rem;

    @mixin breakpoint tablet {
      padding: 0 0.7rem;
    }

    @mixin breakpoint tablet-port {
      padding: 0 0.5rem;
    }

    @mixin breakpoint phone {
      padding: 0 0.5rem;
    }
  }

  &__name {
    margin-bottom: 0.5rem;
  }
}
