.mark-text {
  input[type="text"] {
    height: calc(2.5rem - 2px);
    padding: 0 0.5rem;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    transition: all 0.3s ease-in-out-circ;

    &:active,
    &:focus {
      border: 1px solid $colour-red;
      outline: none;
      background-color: #fff;
      color: $colour-main;
    }
  }

  input[type="submit"] {
    width: 9.167rem;
    height: 2.5rem;
    background-color: $colour-button;
    color: #fff;
    border: none;
    transition: all 0.3s ease-in-out-circ;

    &:hover {
      background-color: #fff;
      color: $colour-main;
    }
  }

  input.disabled {
    ime-mode: disabled;
  }

  &__form {
    padding: 0 1rem;
    font-size: 0.917rem;
  }
}
