.mark-family {
  label {
    max-width: 68%;
    display: inline-block;
    margin-left: 5px;

    @mixin breakpoint tablet-port {
      width: 100%;
    }

    @mixin breakpoint phone {
      width: 100%;
    }
  }

  input {
    @mixin breakpoint tablet-port {
      position: absolute;
      visibility: hidden;
      opacity: 0;
    }

    @mixin breakpoint phone {
      position: absolute;
      visibility: hidden;
      opacity: 0;
    }
  }

  img {
    width: 100%;

    @mixin breakpoint desktop {
      vertical-align: text-top;
    }
  }

  &__list {
  }

  &__item {
    float: left;
    width: 33.3333%;
    margin-bottom: 2%;

    @mixin breakpoint desktop {
      width: 50%;
    }

    @mixin breakpoint notdesktop {
      width: 100%;
    }

    @mixin breakpoint tablet-port {
      position: relative;
      float: none;
      border: 1px solid #888;
      text-align: center;
    }

    @mixin breakpoint phone {
      position: relative;
      float: none;
      border: 1px solid #888;
      text-align: center;
    }

    &.font--fancy {
      @mixin breakpoint desktop {
        width: 100%;
      }

      @mixin breakpoint notdesktop {
        width: 100%;
      }
    }

    &:hover,
    &.active {
      @mixin breakpoint tablet-port {
        border: 1px solid #fff;
      }

      @mixin breakpoint phone {
        border: 1px solid #fff;
      }
    }
  }
}
