<div class="mark-text" data-component="MarkText">           
  <form class="mark-text__form" data-cate="text">
    <div class="mark-text__inner">
      <input class="js-mark-text disabled" type="text" name="text-markA" placeholder="1行目" value="">
      <input class="js-mark-submit" type="submit" name="" value="マークを確認する">
    </div>

    <div class="mark-text__inner">
      <input class="js-mark-text disabled" type="text" name="text-markA2" placeholder="2行目" value="">
      <input class="js-mark-submit" type="submit" name="" value="マークを確認する">
    </div>

    <div class="form-message"></div>
  </form>
  <!-- <p class="mark-text__notes">※書体06は小文字の指定ができません。</p> -->
</div>
