<div class="order-info js-order-info">
  <a href="" class="button button--close js-order-info-close--sp u-sp u-tb"></a>
  <ul class="order-info__list">
    <li class="order-info__item">
      <a class="order-info__link js-order-save" data-style="OAR-7010W" href="https://custom.arena-jp.com/simulation/swimwear/aquaforce-fusion-2/oar-7010w?style1=OAR-7010W&amp;bcol=BK02">この内容で保存し、次のStyleを選ぶ</a>
    </li>
    <li class="order-info__item">
      <a class="order-info__link js-order-sheet js-popup-trigger" data-popup=".popup--order-sheet" href="#">保存したStyleからオーダーシートを作る</a>
    </li>
    <li class="order-info__item">
      <a class="order-info__link js-order-sheet-direct" href="https://custom.arena-jp.com/order/index.php?module=Flash&amp;action=CreateStyle&amp;style1=OAR-7010W,BK02,,,,&amp;sort=true">この内容でオーダーシートを作る</a>
    </li>
    <li class="order-info__item">
      <a class="order-info__link js-modal" href="" data-modal=".modal--share">この組み合わせを仲間と共有する</a>

      <div class="modal modal--share">
        <a class="icon icon--facebook js-facebook-link" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fcustom.arena-jp.com%2Fsimulation%2Fswimwear%2Faquaforce-fusion-2%2Foar-7010w%3Fbcol%3DBK02%26pos%3D%26font%3D%26col%3D%26mark%3D" target="_blank"></a>
        <a class="icon icon--twitter js-twitter-link" href="https://twitter.com/home?status=https%3A%2F%2Fcustom.arena-jp.com%2Fsimulation%2Fswimwear%2Faquaforce-fusion-2%2Foar-7010w%3Fbcol%3DBK02%26pos%3D%26font%3D%26col%3D%26mark%3D" target="_blank"></a>
        <a class="icon">
          <iframe data-url="" data-type="share-d" data-lang="ja" data-line-it-id="0" scrolling="no" frameborder="0" allowtransparency="true" class="line-it-button" src="https://social-plugins.line.me/widget/share?buttonType=share-d&amp;type=share&amp;lang=ja&amp;id=0&amp;origin=https%3A%2F%2Fcustom.arena-jp.com%2Fsimulation%2Fswimwear%2Faquaforce-fusion-2%2Foar-7010w%3Fbcol%3DBK02&amp;title=OAR-7010W%20%7C%20arena%20CUSTOM%20ORDER" style="width: 41px; height: 40px; visibility: visible; position: static;"></iframe>
        </a>
      </div>
    </li>
  </ul>
</div>

