<div class="order-sheet popup-inner">
  <p class="order-sheet__head">オーダーシート作成希望のStyleを選択してください。</p>
  <a class="popup-close js-popup-close"></a>

  <ul class="order-sheet__list js-order-sheet-list">
    <li class="order-sheet__item" data-number="1" data-style="">
      <div class="order-sheet__image">
        <img src="/simulation/assets/images/customisation/examples/item1.jpg" alt="ITEM">
      </div>

      <div class="order-sheet__text">
        <strong class="order-sheet__title">Style1</strong>
        <p class="order-sheet__desc">OAR-4300　BU02　<br>クロスジャケット　※裏地メッシュなし</p>
        <span class="order-sheet__pick js-order-sheet-pick"></span>
      </div>
    </li>

    <li class="order-sheet__item" data-number="2" data-style="">
      <div class="order-sheet__image"><img src="/simulation/assets/images/customisation/examples/item1.jpg" alt="ITEM"></div>
      <div class="order-sheet__text">
        <strong class="order-sheet__title">Style2</strong>
        <p class="order-sheet__desc">OAR-4300　BU02　<br>クロスジャケット　※裏地メッシュなし</p>
        <span class="order-sheet__pick js-order-sheet-pick"></span>
      </div>
    </li>

    <li class="order-sheet__item" data-number="3" data-style="">
      <div class="order-sheet__image"><img src="/simulation/assets/images/customisation/examples/item1.jpg" alt="ITEM"></div>
      <div class="order-sheet__text">
        <strong class="order-sheet__title">Style3</strong>
        <p class="order-sheet__desc">OAR-4300　BU02　<br>クロスジャケット　※裏地メッシュなし</p>
        <span class="order-sheet__pick js-order-sheet-pick"></span>
      </div>
    </li>

    <li class="order-sheet__item" data-number="4" data-style="">
      <div class="order-sheet__image"><img src="/simulation/assets/images/customisation/examples/item1.jpg" alt="ITEM"></div>
      <div class="order-sheet__text">
        <strong class="order-sheet__title">Style4</strong>
        <p class="order-sheet__desc">OAR-4300　BU02　<br>クロスジャケット　※裏地メッシュなし</p>
        <span class="order-sheet__pick js-order-sheet-pick"></span>
      </div>
    </li>
  </ul>

  <div class="button-container u-text-center">
    <a class="button button--order-sheet" href="">選択したStyleのオーダーシートを作る</a>
  </div>
</div>

